/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  /* Colors: */
---c1c3c9: #C1C3C9;
---e2e2e2: #E2E2E2;
---6e7079: #6E7079;
---363636: #363636;
---f2f2f2: #F2F2F2;
---3c3e48: #3C3E48;
---a51c20: #A51C20;
---ff0000: #FF0000;

/* Font/text values */
--unnamed-font-family-noto-sans: Noto Sans;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-300: 300px;
--unnamed-font-weight-900: 900px;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-25: 25px;
--unnamed-font-size-30: 30px;
--unnamed-font-size-32: 32px;
--unnamed-font-size-45: 45px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-36: 36px;
--unnamed-line-spacing-43: 43px;
--unnamed-line-spacing-45: 45px;
--unnamed-line-spacing-64: 64px;
}

/* Character Styles */
.p1 {
font-family: var(--unnamed-font-family-noto-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-32);
line-height: var(--unnamed-line-spacing-43);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(---363636);
}
.p2 {
font-family: var(--unnamed-font-family-noto-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-25);
line-height: var(--unnamed-line-spacing-36);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(---363636);
}
.h2 {
font-family: var(--unnamed-font-family-noto-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-30);
line-height: var(--unnamed-line-spacing-45);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(---363636);
}
.h1 {
font-family: var(--unnamed-font-family-noto-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-45);
line-height: var(--unnamed-line-spacing-64);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(---363636);
}


/* semantic color variables for this project */


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
